@charset "UTF-8";

html, body {
    overflow-x: hidden;
}

.icon-award { 
    width: 2.39583vw;
    height: 2.39583vw;
    min-width: 46px;
    min-height: 46px;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.063 18.688H12.936a1.438 1.438 0 0 0-1.437 1.437v23a1.437 1.437 0 0 0 1.998 1.322L23 40.38l9.502 4.069c.177.075.368.114.56.114.282-.002.557-.087.791-.244a1.436 1.436 0 0 0 .647-1.193v-23a1.438 1.438 0 0 0-1.438-1.438Z' fill='%23FF9797'/%3E%3Cpath d='M33.853 41.443a1.437 1.437 0 0 1-.79.245c-.193 0-.384-.04-.561-.116L23 37.505l-9.502 4.069A1.437 1.437 0 0 1 11.5 40.25v2.875a1.438 1.438 0 0 0 1.998 1.322L23 40.38l9.502 4.069c.177.075.368.114.56.114.282-.002.557-.087.791-.244a1.436 1.436 0 0 0 .647-1.193V40.25a1.436 1.436 0 0 1-.647 1.193Z' fill='%23F28686'/%3E%3Cpath d='M23 33.063c8.733 0 15.813-7.08 15.813-15.813S31.733 1.437 23 1.437 7.187 8.518 7.187 17.25 14.268 33.063 23 33.063Z' fill='%23fff'/%3E%3Cpath d='M34.572 6.512A15.812 15.812 0 0 1 9.789 25.875 15.812 15.812 0 1 0 34.572 6.512Z' fill='%23F1F1F1'/%3E%3Cpath d='M23 27.787c5.82 0 10.537-4.718 10.537-10.537 0-5.82-4.718-10.537-10.537-10.537-5.82 0-10.537 4.718-10.537 10.537 0 5.82 4.718 10.537 10.537 10.537Z' fill='%23FFF27D'/%3E%3Cpath d='M29.742 9.157a10.537 10.537 0 0 1-15.51 13.93 10.538 10.538 0 1 0 15.51-13.93Z' fill='%23F7E7F'/%3E%3C/svg%3E");
}

.icon-arrow {
    width: 1.25vw;
    height: 1.25vw;
    min-width: 20px;
    min-height: 20px;
    opacity: .2;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.54 11.29 9.88 5.64a1 1 0 1 0-1.42 1.41l4.95 5L8.46 17a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.3.999.999 0 0 0 .71-.3l5.66-5.65a1 1 0 0 0 0-1.47Z' fill='%23333'/%3E%3C/svg%3E");
}